{% extends 'standard.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block css %}
    <link href="{{ url_for('static', filename='css/account.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="uberschrift">
            <p style = "font-size: 50px"> Hallo <strong>{{current_user.username}}</strong></p>
        </div>
        
        </div>
        <div class="container">
            <div class="form_container">
                <form  method="POST">
                {{edit_form.hidden_tag()}}
                {{edit_form.submit}}
                </form>
            </div>
            <p>Deine Email addresse: <strong>{{current_user.email}}</strong></p>
        </div>
        <p style= "margin: 15px 0 0 20%; font-size: 30px">Deine Einträge:</p>

        <div id="entries">
            {% for entry in entries %}
            {% if entry %}
            <a href="{{url_for('show_entry', entry_id=entry.id)}}">
                <div class="container">
                    <div class="entry">
                        <img id="entry_image_big" src="{{ url_for('show_image', entry_id=entry.id, image_id=0) }}", alt="Angebots-Bild" style="width: 125px; height: 125px;">
                        <p id="entry_title">{{entry.title}}</p>
                        <p id="entry_description">{{entry.description}}</p>
                    </div>        
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        <hr>
        </div>
    </div>
{% endblock %}