{% extends 'standard.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block css %}
    <link href="{{url_for('static', filename='css/edit_entry.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="uberschrift">
        <p style = "font-size: 50px">Eintrag Bearbeiten</p>
    </div>
    <div class="container">
        <div class="form-container" style="margin: 5px;">
            <form method="POST">
                    {{ form.hidden_tag() }}
                <div id="title">
                    {{ form.title(placeholder=entry.title) }}
                </div>
                <br>
                <div id ="description">
                    {{ form.description(placeholder=entry.description) }}
                </div>
                <br><br>
                <div id = "images">
                    {{form.img_1}}<br>
                    {{form.img_2}}<br>
                    {{form.img_3}}<br>
                    {{form.img_4}}<br>
                </div>
                <br>
                <div id="submit" style="color:black;">
                    {{ form.submit }}
                </div>
            </form>
        </div>
        <a href="{{ url_for('delete_entry', entry_id = entry_id) }}" style="color: red; font-size: 2.5vh;">Eintrag löschen</a>
    </div>
</div>
{% endblock %}