<!DOCTYPE html>
<html lang="ger">
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="C:/Users/Tjorven/Desktop/Programmieren/P5/P5_Webdesign/Webserver/templates/styles/basic.css" type="text/css">
    </head>
    
    <body>
        <h1>Your mom <h1 id="name"></h1></h1>

        <a href="testLink">TestTest</a>

        <div id="FormularTest" class='container' >
            <form action='test.php' method="POST">
                <label for="vorname">
                    <input id="vorname" type="text" maxlength="20">
                Vorname</label>
                <label for="nachname">
                    <input id="nachname" type="text" maxlength="20">
                Nachname</label>
                <button type="submit" id="userErstellen">Registrieren</button>
            </form>

        </div>
    </body>
</html>