<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    
    <body>
        <h1>Your mom <h1 id="name"></h1></h1>

        <a href="testLink">TestTest</a>

        <div id="FormularTest">
            <form action='test.php' method="POST">
                <label for="vorname">
                    <input id="vorname" type="text" maxlength="20">
                Vorname</label>
                <label for="nachname">
                    <input id="nachname" type="text" maxlength="20">
                Nachname</label>
                <button type="submit" id="userErstellen">Registrieren</button>
            </form>
            <!-- <script>
                document.querySelector('#userErstellen').addEventListener('click', userErstllen);

                function userErstellen(){
                    var name = document.getElementById('vorname');
                    var nname = document.getElementById('nachname');
                    var fullName = name + ' ' + nname;

                    document.getElementById('name').innerHTML = fullName;
                }
            </script>
            -->
        </div>
    </body>
</html>