{% extends 'standard.html' %}

{% block content %}
<div class="main">
    <h1>Placeholder Headline</h1>

    <div id="text_body">
        <h2>{{user.username}}, Hello</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>
    </div>
    <div id="sidebar">
        <ul>
            <li><h1 href="/index">Index</a></li>
            <li><a>Lorem Ipsum</a></li>
            <li><a>Lorem Ipsum</a></li>
            <li><a>Lorem Ipsum</a></li>
            <li><a>Lorem Ipsum</a></li>
            <li><a>Lorem Ipsum</a></li>
            <li><a>Lorem Ipsum</a></li>
            <li><a>Lorem Ipsum</a></li>
        </ul>
    </div>
</div>
{% endblock %}