{% extends 'standard.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <strong><h1>Test-Site</h1></strong>
    {% for entry in entries %}
    {% if (amount > 0)%}
    <meta id='img-data' data="{{entries[entry].imgs[0]}}">
    
    <div class="wrapper">
        <a href="{{url_for('show_entry', entry_id=entries[entry].id)}}">
        <div class="container">
            <div class="entry">
                <img id="entry_image_big" src="{{ url_for('show_image', entry_id=entries[entry]['id'], image_id=0) }}", alt="Angebots-Bild">
                <h1>{{entries[entry].title}}</h1>
                <p>{{entries[entry].description}}</p>
            </div>
        </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
{% endblock %}