<!DOCTYPE html>
<html lang='ger'>
    <head>
        <link href="{{css_link}}" rel='stylesheet'>
        {% if title %}
        <title>{{title}} - P5</title>
        {% else %}
        <title>Home - P5</title>
        {% endif %}
    </head>

    <body>
        <header>
            <div class="wrapper">
                <div class="container" id="navigation">
                    <div class="navbar">
                        <ul>
                            <li id="icon"><a href="/index"><img src="{{url_for('static', filename='res/imgs/icon.jpg')}}"  alt="Icon" width="50em" height="50em"></li></a>
                            <li class="quicklink"><a href="">Anbieten</a></li>
                            <li class="quicklink"><a href="">Ausleihen</a></li>
                            <li></li> <!-- User-Profilbild oder leeres Profilbild was zur Userpage oder zum Login/Registrierung führt-->
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <div class="sidebar">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>


        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <div class="container">
            <div id="impressum">
                <!--- Impressum kommt hier rein, sobald die Details ausgearbeitet sind-->
            </div>
        </div>
    </body>
</html>