<!DOCTYPE html>
<html lang="de">
    <head>
        <title>2FA - P5</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <h1>Two Factor Authentication Setup</h1>
                <p>You are almost done! Please start FreeOTP on your smartphone and scan the following QR Code with it:</p>
                <div class="img" style="align-items: center;">
                    <p><img id="qrcode" src="{{ url_for('qrcode', user_id = user_id) }}", alt = None></p>
                </div>
                <div class="form_container">
                    <form method="post">
                    {{submit_form.hidden_tag()}}
                    {{submit_form.confirm}}
                    {{submit_form.confirm.label}}
                    {{submit_form.submit}}
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>