body {
    background-color: orange;
    margin: 0;
    padding: 0;
}
div.container{
    background-color: aqua;
    height: auto;
    width: 250px;
    padding: 5px;
    margin: auto;
}
p#Passion{
    text-align: center;
    text-size-adjust: 200;
}