* {
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
}

.main{
    position: relative;
    min-height: 100%;
    padding-top: 95px;
    padding-left: -10px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    z-index: 1;
}

.container {
    border: solid black 1px;
    display: block;
    background-color: white;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:fit-content;
}

#impressum{
    width: 95%;
}

.flashes{
    margin-bottom: 10px;
    width: 100%;
    font-size: 50px;
    background-color:#FFC75F;
    text-align: center;

    opacity: 1;
}

.flashes li {
    display: block;
    height: 7%;
}

#navbar {
    z-index: 2;
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: #69798C;
}

ul.nav{
    font-size: 2vw;
    height: 80px;
}


#navbar ul {
    display: flex;
    list-style-type: none;
}

#navbar li {
    height: inherit;
    display: inline-flex;
}

#navbar img{
    max-height: 100%;
}

#navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    float: right;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#search_form{
    font-size: 1.5vw;
    margin: auto;
}