* {
    padding: 0;
    margin: 0;
}

.container {
    border: solid black 1px;
}

.navbar {
    padding: 1%;
    display: block;
    position: fixed;
    width: 100%;
    top: 0%;
    transform: translateX(-50%, -50%);
    background-color: aliceblue;
}

ul {
    list-style-type: none;
}

li{
    font-size: 3em;
    float: left;
    margin-left: 5%;
    margin-right: 5%;

    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    border-radius: 5px;
}

li a{
    opacity: 100%;
    text-decoration: none;
    
    font-family: 'Courier New', Courier, monospace;
}

li #icon{
    width: 50em;
    height: 50em;
}

.quicklink {
    background:rgba(201, 84, 41, 0.6);
    transition: 0.3s;
    color: orange;
}

.quicklink:hover{
    background:  rgba(201, 84, 41, 1);
}
