div{
    border: 1px solid black;
}

.navbar {
    text-align: left;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 60%;
    height: auto;
}

.navbar a{
    float: left;
    display: block;
    color: cyan;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: orange;
}

.navbar li{
    display: inline-block;
}